{{extend './layout/home.html'}}

{{block 'title'}}{{'学生'}}{{/block}}

{{block 'content'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="sidebar-students" class="active"><a href="/students">学生名单</a></li>
            <li id="sidebar-courses"><a href="/courses">课程名单</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">学生信息</h1>
          <form class="form-inline">
            {{ if user }}
            <div>
              <a class="btn btn-success" style="margin-left: 20px" href="/students/new">添加学生</a>  
              <div class="input-group" style="margin-left: 700px">
                <input type="text" class="form-control" placeholder="学生姓名">
                <span class="input-group-addon">搜索</span>
              </div>
            </div>
            {{ /if }}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>年龄</th>
                  <th>专业</th>
                  {{ if user }}
                  <th>操作</th>
                  {{ else }}
                  <th style="width: 300px"><a href="login">登录后可进行操作</a></th>
                  {{ /if }}
                </tr>
              </thead>
              <tbody>
                {{ each students }}
                <tr>
                  <td>{{ $index + 1 }}</td>
                  <td>{{ $value.name }}</td>
                  {{ if $value.gender === 0 }}
                  <td>男</td>
                  {{ else }}
                  <td>女</td>
                  {{ /if }}
                  <td>{{ $value.age }}</td>
                  <td>{{ $value.major }}</td>
                  <td>
                    {{ if user }}
                    <a href="/students/edit?id={{ $value._id }}">编辑</a>
                    <a href="/students/delete?id={{ $value._id }}">删除</a>
                    {{ /if }}
                  </td>
                </tr>
                {{ /each }}
              </tbody>
            </table>
          </div>
          </form>
        </div>
      </div>
    </div>
       {{/block}}
